<div style="text-align:center; padding-top:100px; font-family:Arial;">
    <img src="/static/peslogo.png" alt="PES Logo" style="display: block; margin: 0 auto 20px; max-width: 200px;">
    <h1>Hydrotest Planning Tool</h1>
    <p>Select an option to begin calculations</p>
    <form action="/mapping" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <button type="submit" style="padding:10px 20px;">Upload New Data</button>
    </form>
    <a href="/set_mode/demo"><button style="padding:10px 20px; background:#28a745; color:white;">Use Testdata.xlsx Demo</button></a>
</div>
